body{
  background-color: #F3F2FA;
}

.hero-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
}

.hero-section h1{
color: #1A1A1F;
font-size: 64px;
font-weight: 700;
line-height: 72px;
}

.hero-section img{
width: 624px;
height: 200px;
}

.navigation-container{
display: flex;
align-items: center;
justify-content: center;
gap: 24px;
margin-top: 64px;
}

.btn-common{
display: flex;
padding: 8px 16px;
align-items: flex-start;
gap: 10px;
border-radius: 30px;
border: none;
font-family: FiraGO;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px;
cursor: pointer;
border: 1px solid transparent;
}

.active-category {
border-color: black;
}

.shop-category{
background-color: rgba(255, 184, 47, 0.08);
color: #D6961C;
}


.app-category{
background-color: rgba(28, 214, 125, 0.08);
color: #15C972;
}

.ai-category{
background-color: rgba(177, 28, 214, 0.08);
color: #B71FDD;
}

.ui-ux-category{
background-color: rgba(250, 87, 87, 0.08);
color: #DC2828;
}

.research-category{
background-color: rgba(112, 207, 37, 0.08);
color: #60BE16;
}

.figma-category{
background-color: rgba(8, 210, 174, 0.08);
color: #1AC7A8;
}

.all-blogs{
display: flex;
margin: 64px auto;
width: 1288px;
gap: 56px 32px;
flex-wrap: wrap;
justify-content: space-between;
}

.first-blog{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
width: calc((100% - 76px) / 3); 
}

.text-container{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.category-container{
  display: flex;
  gap: 16px;
}

.first-blog img{
width: 408px;
height: 328px;
border-radius: 12px;
object-fit: cover;
}

.author{
color: #1A1A1F;
font-size: 16px;
font-weight: 500;
line-height: 20px;
}

.date{
color: #85858D;
font-size: 12px;
font-weight: 400;
line-height: 16px;
margin-top: -8px;
}

.first-blog h2{
width: 408px;
color: #1A1A1F;
font-size: 20px;
font-weight: 500;
line-height: 28px; 
}

.description{
width: 408px;
color: #404049;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}

.view-full button{
color: #5D37F3;
font-size: 14px;
font-weight: 500;
line-height: 20px;
border: none;
cursor: pointer;
}

.view-full{
display: flex;
align-items: center;
}

